<div class="ui placeholder segment">
  <div class="ui center aligned basic segment">
    <div class="column">
      <div class="ui form">
        <div class="field">
          <label>Username</label>
          <div class="ui left icon transparent input">
            <input type="text" placeholder="Enter a username..">
            <i class="teal large user circle icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left icon transparent input">
            <input type="password" placeholder="Enter a password...">
            <i class="grey lock open icon"></i>
          </div>
        </div>
        <div class="ui red button">Login</div>
      </div>
    </div>
    <div class="ui horizontal divider">
     Or
    </div>
    <div class="middle aligned column">
      <div class="ui big green button">
        Sign Up
      </div>
    </div>
  </div>
</div>