<h2 class="ui center aligned large icon header">
      <i class="circular red inverted user icon"></i>
    Say something!
</h2>
<div class="ui two column grid">
   <div class="twelve wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content"> 
          <div class="ui feed">
            <div class="event">
              <div class="content">
                <div class="summary">
                   <em>Elliot Fu</em>: Hello!
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                   <em>Stevie Feliciano</em>: how's Everyone?
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                   <em>Helen Troy</em>: Hello everyone!
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                   <em>Christian Rocha</em>: Hi helen
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra content">
            <form class="ui reply form">
                <div class="field">
                   <div class="ui fluid icon input">
                     <input type="text" placeholder="Enter Message...">
                     <i class="bordered inverted red edit icon"></i>
                   </div>
                </div>
            </form>
        </div>
      </div>
   </div>
  
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
     <div class="content">
      <div class="ui inverted vertical menu">
       <a class="active red item">
        Home
       </a>
       <a class="red item">
        Messages
       </a>
       <a class="red item">
        Friends
       </a>
      </div>
     </div>
    </div>
  </div>
</div>