        <a class="red item">
          <i class="home icon"></i>
          Home
        </a>
        <a class="red item">
          Messages
        </a>
        <div class="right menu">
          <div class="ui dropdown red item">
            Account <i class="dropdown icon"></i>
            <div class="menu">
              <a class=" item">Logout</a>
              <a class="red item">Login</a>
              <a class="red item">Sign up</a>
            </div>
          </div>
          <div class="blue item">
              <div class="ui primary button">Sign Up!</div>
          </div>
        </div>